################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPatterns/Singleton/bin/Debug
/DesignPatterns/Singleton/obj/Debug
/DesignPatterns/Factory/bin/Debug
/DesignPatterns/Factory/obj/Debug