################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPatterns/Singleton/bin/Debug
/DesignPatterns/Singleton/obj/Debug
/DesignPatterns/Factory/bin/Debug
/DesignPatterns/Factory/obj/Debug
/DesignPatterns/Strategy/bin/Debug
/DesignPatterns/Strategy/obj/Debug
/DesignPatterns/Strategy2/bin/Debug
/DesignPatterns/Strategy2/obj/Debug
/DesignPatterns/Prototype/bin/Debug
/DesignPatterns/Prototype/obj/Debug
/DesignPatterns/Decorator/bin/Debug
/DesignPatterns/Decorator/obj/Debug
/DesignPatterns/Flyweight/bin/Debug
/DesignPatterns/Flyweight/obj/Debug
/DesignPatterns/Builder/bin/Debug
/DesignPatterns/Builder/obj/Debug
/DesignPatterns/Builder2/bin/Debug
/DesignPatterns/Builder2/obj/Debug
/DesignPatterns/Composite/bin/Debug
/DesignPatterns/Composite/obj/Debug
/DesignPatterns/Builder3/bin/Debug
/DesignPatterns/Builder3/obj/Debug
/.vs
/DesignPatterns/.vs/DesignPatterns/v15/Server/sqlite3
/DesignPatterns/Factory - Abstract Factory/bin/Debug
/DesignPatterns/Factory - Abstract Factory/obj/Debug
/DesignPatterns/Factory2/obj/Debug
/DesignPatterns/Factory2/bin/Debug
